<div class="body">
    <app-tp-header></app-tp-header>
    <div class="c-account">
        <table>
            <tr>
                <th colspan="2">
                    <div class="text"> Find your Account </div>
                </th>
            </tr>    
        <tr>
          <td><label> Email Address</label></td>
          <td><input type="text"></td>
        </tr>
                  <tr><td colspan="2">
            <button type="submit">Send Password</button>
        </td>
          </tr>
        </table>
    </div>
    <app-tp-footer></app-tp-footer>
    </div>
    