
.c-account{
    top: 150px;
    position: absolute;
    margin-left: 350px;
  }

  table {

    padding: 10px;
    position: absolute;
    left: 80px;
    background-color: #e6e6fa;
    border-radius: 10px;
    position: absolute;

  }

  th {
    padding: 5px;
    text-align: center;
    border-bottom: 5px;

  }
  
  td {
    padding: 10px;
    text-align: center;

  
  }