table > thead > th {
  background-color: rgba(215, 194, 236, 0.454);
  height: 25px;
  padding: 10px;
}

table > tbody > tr > td {
  height: 25px;
  padding: 10px;
} 

table {
    width: 60%;
}

/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } */

table.centerTable {
    margin-left: 20%;
    margin-right: auto;
  }
